# Discord
DISCORD_TOKEN=
DISCORD_GUILD_ID=
DISCORD_CHANNEL_DATABASE=
DISCORD_CHANNEL_STORAGE=

# Webserver
WEBSERVER_PORT=3000
WEBSERVER_ENABLE_HTTPS=false
WEBSERVER_USERS=admin:admin,user:user

# Encryption
ENCRYPTION_KEY=